<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comparison of Top 10 Stock Prices</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <h1>Stock Dashboard</h1>
    </header>
    <main class="container">
        <section>
            <h2>Comparison of Top 10 Stock Prices</h2>
            <div>
                {{ comparison_plot|safe }}
            </div>
            <a href="/" class="btn">Back to Dashboard</a>
        </section>
    </main>
</body>
</html>
